[submodule "external/parthenon"]
	path = external/parthenon
	url = https://github.com/hyerincho/parthenon.git
	branch = fastvc
[submodule "external/variant"]
	path = external/variant
	url = https://github.com/mpark/variant.git
